blinker
click
colorama
contourpy
cycler
Flask
fonttools
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
nltk
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
regex
scikit-learn
scipy
seaborn
six
threadpoolctl
tqdm
tzdata
Werkzeug
